.box-img {
	width: 100%;
	margin-top: 10vh;
}

.no-margin {
	margin-top: 0;
}

.purple {
	color: #726FAF;
}

.purple-background {
	background-color: #726FAF;
}

.pink {
	color: #E26FA9;
}

.pink-background {
	background-color: #E26FA9;
}

.green {
	color: #71ACCD;
}

.green-background {
	background-color: #71ACCD;
}

.btn__green {
	color: white;
	background-color: #71ACCD;
}

.btn__green:hover {
	color: white;
	background-color: grey;
}

.orange {
	color: #F3B64E;
}

.orange-background {
	background-color: #F3B64E;
}

.white {
	color: white;
}

.white-background {
	background-color: white;
}

.whitesmoke {
	background-color: #fbfafa;
}

.font-josefine {
	font-family: 'Josefin Sans', sans-serif;
}

.font-cabin {
	font-family: 'Cabin', sans-serif;
}

.work-windows {
	width: 100%;
}

.title-space {
	margin: 5vh;
}


.nav__colors>li>a {
	color: white;
}

.nav__colors>li>a:hover {
	background-color: #E26FA9;
	color: white;
}

.shadow-purple {
	box-shadow: 10px 10px 5px #726FAF;
}

.shadow-green {
	box-shadow: 10px 10px 5px #71ACCD;
}

.shadow-pink {
	box-shadow: 10px 10px 5px #E26FA9;
}

/*Space between*/

.about-space {
	padding-top: 6vh;
	padding-bottom: 8vh;
}

.about-space__above {
	margin-top: 3vh;
}

.about-space__down {
	margin-bottom: 5vh;
}

.btw>img {
	margin-left: 1vh;
}

.square {
	padding-top: 2vh;
	padding-bottom: 2vh;

  	cursor: pointer;
}

.square:hover {
	background-image: url(../img/software/autocad.png);
}

/*Social media*/

.fa {
  padding: 20px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}


.fa-pinterest {
  background: #cb2027;
  color: white;
}

.fa-soundcloud {
  background: #ff5500;
  color: white;
}

.fa-git:hover {
	opacity: 0.7;
}

.git {	
  width: 55px;
  margin: .5vh;
}

.git:hover {
	opacity: 0.7
}

.bottom {
	bottom: 0;
	margin-bottom: 5vh;
}

/* Size Text */

.big-text {
	font-size: 5em;
}

.medium-plus-text {
	font-size: 3em;
}

.medium-text {
	font-size: 2em;
}

.border-radius {
	border: 2px solid;
    border-radius: 25px;
}

/* hover */

.download {
	border-style: dotted;
	border-width: 1px;
	border-color: white;
	margin-top: 1vh;
	padding-top: 0;
}

.download:hover {
	text-decoration: none;
	background-color: grey;
}

/*Skills*/

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #FBFAFA;
}

.square:hover .overlay {
  opacity: 3;
}

.image {
  position: absolute;
  top: 50%;
  left: 8vh;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.home {
	visibility: hidden;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .home {
	visibility: visible;
	}
}


